.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h4 {
  font-family: "Lexend";
  width: 1000px;
  text-align: start;
  margin: 0;
}

.hero h1 {
  font-family: "Kumar One";
  margin: 10px 0 0 0;
  padding: 0;
}

.hero h1 span {
  color: #c89900;
}

.featured {
  width: 1000px;
  height: 500px;
  background-color: #fff;
  overflow: hidden;
}

.featured img {
  width: inherit;
}
