.header {
  margin: 0;
  padding: 10px 20px;
}

.burger-button {
  background-color: transparent;
  width: 70px;
  padding: 10px;
}

.nav-title {
}

.burger-nav {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  background-color: #1f0d1d;
}

.burger-nav button {
  align-self: flex-end;
}

.left-nav {
  display: flex;
  gap: 10px;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.small-logo {
  width: 68px;
  height: 68px;
}

.header-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
