.footer {
  display: flex;
  justify-content: start;
  margin: 100px;
  padding-left: 100px;
  font-family: "Manrope";
  flex-wrap: wrap;
}

.section-a {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.footer h1 {
  width: 100%;
  font-size: 80px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Pixelify Sans";
}

.section-a p {
  margin: 0;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.47);
}

hr {
  width: 1206px;
  height: 0px;
  border: 1px solid #ffffff;
}

.links {
  display: flex;
  gap: 10px;
}

span {
  color: #c89900;
  text-align: left;
}

span p {
  margin: 0;
}

.section-b :nth-child(1) {
  margin-top: 0;
}

.section-b {
  margin-left: 250px;
}
